<div id="resources" class="hide">
  <div id="page-body-data">
    <%= yield :body_content %>
  </div>
  <div id="page-leftSideBar-data">
    <%= yield :leftSideBar_content %>
  </div>
  <div id="page-rightSideBar-data">
    <%= yield :rightSideBar_content %>
  </div>
  <div id="page-navbar-data">
    <%= get_navbar_by_org_obj(100,"navbar") %>
  </div>
  <div id="translations">
  </div>
</div>