<div id="resources" class="hide">
  <div id="page-body-data">
    <%= yield :body_content %>
  </div>
  <div id="page-leftSideBar-data">
    <%= yield :leftSideBar_content %>
  </div>
  <div id="page-rightSideBar-data">
    <%= yield :rightSideBar_content %>
  </div>
  <div id="page-navbar-data"> <!-- TODO : add title to nav bar -->
    <%= get_navbar_by_org_obj org_id:1, obj_name:'navbar' %>
  </div>
  <div id="translations">


  </div>
</div>