@import "bootstrap.custom";
@import "variables";

#main{
  margin-top: 60px;
}

ul.non-style{
  list-style-type:none;
}

#navbar{
  position:relative;
  .sub-menu{
    z-index: 99;
    position:absolute;
    width:800px;
    padding-left:0;
    >li{
      background-color: #fff;
      width:250px;
      height:auto;
      float:left;
      border: 1px solid #000;
    }
  }
}




